<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Buy</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="buy" (ngSubmit)="next()"  *ngIf="uiState == 'showInput'">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h3><span class="label">Available</span> <b>RM{{userRM | number :'1.2'}}</b></h3>
          <h3><span class="label">BTC Price</span> <b>RM{{btcPrice | number : '1.2'}}</b></h3>
          <ion-list>
            <ion-item>
              <ion-label>Buy</ion-label>
              <ion-input 
                type="number" 
                formControlName="amount" 
                placeholder="min 0.0001"
                (keyup)="onKey($event)"></ion-input>
            </ion-item>
          </ion-list>  
          <p>Total Price: <b>RM{{totalCost | number : '1.2'}}</b></p> 
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              <button ion-button full type="submit" [disabled]="!buy.valid" >Next</button>
          </ion-col>
        </ion-row>
    </ion-grid>  
  </form>
  
  <form *ngIf="uiState == 'confirmPage'">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h3><span class="label">Buy BTC</span> <b>BTC{{amount}}</b></h3>
          <h3><span class="label">Total Price</span> <b>RM{{totalCost | number : '1.2'}}</b></h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <button ion-button full type="submit" (click)="confirm();">Confirm</button>
        </ion-col>
      </ion-row>
    </ion-grid>  
  </form>

  <ion-grid *ngIf="uiState == 'result'">
    <ion-row>
      <ion-col>
        <h3><span class="label">BTC bought price</span> <b>RM{{btcBoughtPrice}}</b></h3>
        <h3><span class="label">New balance</span> <b>RM{{newRM}}</b></h3>
        <h3><span class="label">New BTC</span> <b>BTC{{newBTC}}</b></h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button full (click)="toggleInput();">BUY MORE</button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
