<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>History</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let item of data | reverse " class="ion-item">
      
      <h2 *ngIf="item.data.type.toLowerCase().indexOf('deposit') >-1" class="deposit">{{item.data.type}}</h2>
      <h2 *ngIf="item.data.type.toLowerCase().indexOf('buy') >-1" class="buy">{{item.data.type}}</h2>
      <h2 *ngIf="item.data.type.toLowerCase().indexOf('sell') >-1" class="sell">{{item.data.type}}</h2>

      <p class="date">{{item.data.date_time | date: 'medium'}}</p>
      <p><span class="label">BTC before/after:</span><span class="value">{{item.data.before_btc}}/{{item.data.after_btc}}</span></p>
      <p><span class="label">RM before/after:</span><span class="value">{{item.data.before_rm}}/{{item.data.after_rm}}</span></p>
      <p><span class="label">BTC Price:</span><span class="value">{{item.data.btc_price}}</span></p>
    </ion-item>
  </ion-list>
</ion-content>
